@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

*
{
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 0px;
	padding: 0px;
}

:root
{
	--app-padding: 5px;

	--button-padding: 2px;
	--button-radius: 3px;

	--color: white;

	--footer-height: 30px;
	--footer-margin: calc(var(--footer-height) / 2);
	--footer-total: calc(var(--footer-height) + var(--footer-margin));

	--page-width: 75%;
}

body
{
	font-family: "Playpen Sans", sans-serif;
	font-size: 14px;
	height: 100%;
}

main
{
	/* background: rgba(0, 255, 0, 0.5); */
	padding: var(--app-padding);
}


/*	**************************************************************************************************	*/
/*	style specific to the <nav>																			*/

nav
{
	--icon-size: 30px;

	/* background-color: rgba(255, 0, 255, 0.5); */
	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	height: calc(100vh - var(--footer-height));
	padding: var(--app-padding);
		padding-top: 35vh;
	position: fixed;
		left: 0px;
		top: 0px;
	width: calc(var(--icon-size) + var(--app-padding));
	z-index: 100;
}

nav > *
{
	flex-grow: 0;
	flex-shrink: 0;
}

.flex-spacer
{
	flex-grow: 1;
	flex-shrink: 1;
	height: 30%;
}

nav > button
{
	--background-color: white;
	--color: black;

	background-color: var(--background-color);
	border: 2px solid var(--color);
	border-radius: var(--button-radius);
	fill: var(--color);
	height: var(--icon-size);
	margin-bottom: var(--button-padding);
	padding: var(--button-padding);
	width: var(--icon-size);
}

nav > button:hover
{
	background-color: var(--color);
	fill: var(--background-color);
}

nav > button:last-child
{
	margin-bottom: 0px;
}

/*	**************************************************************************************************	*/
/*	style specific to the sticky footer																	*/

html
{
	height: 100%;
}

#sticky-wrapper
{
	/* background: rgba(0, 255, 255, 0.5); */
	height: auto;
	margin-bottom: calc(var(--footer-total) * -1);
	min-height: 100%;
}

#stivky-pusher
{
	/* background: yellow; */
	height: var(--footer-total);
}

footer
{
	background: red;
	font-size: 10px;
	height: var(--footer-height);
	margin-top: var(--footer-margin);
	padding: 10px;
}


/*	**************************************************************************************************	*/
/*	media queries for responsive design																	*/

@media screen and (max-width: 572px)
{
}