*
{
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	margin: 0px;
	padding: 0px;
}

:root
{
	--app-padding: 5px;

	--button-padding: 2px;
	--button-radius: 3px;

	--color: white;

	--footer-height: 30px;
	--footer-margin: calc(var(--footer-height) / 2);
	--footer-total: calc(var(--footer-height) + var(--footer-margin));

	--page-width: 75%;
}

body
{
	font-family: sans-serif;
	font-size: 14px;
	/* height: 100%; */
	height: 100vh;
}

main
{
	padding: var(--app-padding);
}

.hidden
{
	display: none !important;
}

/*	**************************************************************************************************	*/
/*	style specific to the <nav>																			*/

nav
{
	--icon-size: 30px;

	display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	height: calc(100vh - var(--footer-height));
	padding: var(--app-padding);
		padding-top: 35vh;
	position: fixed;
		left: 0px;
		top: 0px;
	width: calc(var(--icon-size) + var(--app-padding));
	z-index: 100;
}

nav > *
{
	flex-grow: 0;
	flex-shrink: 0;
}

.flex-spacer
{
	flex-grow: 1;
	flex-shrink: 1;
	height: 30%;
}

nav > .no-icon
{
	height: calc(var(--icon-size) - calc(var(--app-padding) * 2));
	width: var(--icon-size);
}

nav > button
{
	--background-color: #7f7f7f;
	--color: black;

	background-color: none;
	border: none;
	height: var(--icon-size);
	padding: 3px;
	width: var(--icon-size);
}

nav > button:hover
{
	padding: 0px;
}

.icon-wrapper
{
	background-color: var(--background-color);
	border: 1px solid var(--background-color);
	border-radius: var(--button-radius);
	fill: var(--color);
	height: 100%;
	width: 100%;
}

.icon-wrapper:hover
{
	background-color: black;
	border-color: black;
	fill: white;
}

/*	**************************************************************************************************	*/
/*	style specific to the sticky footer																	*/

html
{
	/* height: 100%; */
	height: 100vh;
}

#sticky-wrapper
{
	height: auto;
	margin-bottom: calc(var(--footer-total) * -1);
	min-height: 100%;
}

#stivky-pusher
{
	height: var(--footer-total);
}

footer
{
	background: red;
	font-size: 10px;
	height: var(--footer-height);
	margin-top: var(--footer-margin);
	padding: 10px;
}


/*	**************************************************************************************************	*/
/*	media queries for responsive design																	*/

@media screen and (max-width: 572px)
{
}