/*	INDEX.CSS																							*/
/*																										*/
/*	This is the CSS that applies to elements that are created in INDEX.HTML or INDEX.JS only.  It		*/
/*	primarilly deals with the list of titles.															*/

#title-list
{
	margin: 0px auto;
	width: var(--page-width);
}

.title-wrapper
{
	--background-color: rgba(161, 161, 161, 0.5);


	backdrop-filter: blur(var(--app-blur));
	background-color: var(--background-color);
	border: 1px solid rgba(127, 127, 127, 0.5);
	border-radius: var(--button-radius);
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	font-size: 12px;
	height: 20px;
	margin-bottom: var(--button-padding);
	width: 100%;
}

.title-wrapper:last-child
{
	margin-bottom: 0px;
}

.title-wrapper > *
{
	flex-grow: 0;
	flex-shrink: 0;
	height: 18px;
	margin: var(--button-padding);
	width: 18px;
}

.title-wrapper > input
{
	height: auto;
	width: 14px;
}

.title-wrapper > .title
{
	--margin: calc(6px - var(--button-padding));

	cursor: pointer;
	flex-grow: 1;
	height: 18px;
	line-height: 1.5cap;
	margin-left: var(--margin);
	margin-right: var(--margin);
	overflow: none;
	text-decoration: none;
}

.title-wrapper > .delete
{
	background-color: rgba(255, 255, 255, 0.0);
	background-image: url("icons/close-black.svg");
	border: none;
	height: 100%;
	margin: 0px;
	width: 20px;
}

.title-wrapper > .delete:hover
{
	background-color: red;
	background-image: url("icons/close-white.svg");
}


/*	**************************************************************************************************	*/
